/* Common Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* px to rem */
    scroll-behavior: smooth;
}

body {
    font-family: "Special Elite", cursive;
    background-color: #ccc;
    padding-right: 3rem;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End of Common Styles */
